/.idea
/.vs
/.pnp
.pnp.js


# frontend
/frontend/node_modules
/frontend/build
/frontend/.env
/frontend/package-lock.json

# backend
/backend/dist
/backend/node_modules
/backend/.env
/backend/package-lock.json
/back-end/src/*.log

**/.DS_Store
**/env.*

